


/*-------------------- Tag --------------------*/

header {
    background: rgb(37, 123, 177);
    font-size: 16px;
    color:black;

    display: inline;
    }


body {
  padding: 0;
  width: 100%;
  margin: 0 auto;
background-color: rgb(37, 123, 177);
}
nav {
  width: 100%;
  background-color: lightblue;
  text-align: center;
}
li {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;

}


/*-------------------- Classi e ID --------------------*/
.logo
{
       background-color: transparent;
    display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;

}
.dario {

    display: block;
        margin-right: auto;
        width: 500px;
        height: 100px;

}


.testaTendina{
  position: relative;
  display: inline-block;
  text-align: center;

}

nav a {

  color: black;

  text-decoration: none;
}

.bottone {
  background-color: transparent;
  color: black;
  padding: 16px;
  font-size: 18px;
  min-width: 200px;
  border: none;
}

.tendina {
  display: none;
  position: absolute;
  width: 200px;
  background-color: rgb(87, 179, 236);
  z-index: 1;
}


.tendina a {
  color: black;
  font-size: 16px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;

}

nav li div .bottone {

font-weight: bold;


}

nav li .bottone {

font-weight: bold;

font-family: Arial, Helvetica, sans-serif;
}






/*-------------------- Eventi --------------------*/
.testaTendina:hover .tendina {display: block;}

nav li div a:hover {background-color: rgb(89, 128, 225);}

.bottone:hover {background-color: rgb(89, 128, 225);}