/*-------------------- Tag --------------------*/

header {
  background: transparent;
  font-size: 16px;
  color: black;
  display: inline;
}

body {
  padding: 0;
  width: 100%;
  margin: 0;
  background-color: rgb(102, 167, 207);
  display: grid;
  place-items: center;
  min-width: 800px;
}

nav {
  width: 95%;
  height: 40px;
  background-color: rgb(57, 139, 190);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

section {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 70px;
}

footer a {
  padding-left: 1%;
  padding-right: 1%;
  height: 60%;
}

/*-------------------- Classi e ID --------------------*/
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.boxLogo {
  display: inline;
  justify-content: center;
  width: 100px;
}

.dario {
  display: block;
  margin-right: auto;
  width: 500px;
  height: 100px;
  padding-left: 10px;
  padding-top: 10px;
}

.imageStyle {
  border-radius: 15px;
  width: 100%;
}

nav div a {
  color: black;
  text-decoration: none;
}

.bottone {
  background-color: transparent;
  color: black;
  font-size: 14px;
  height: 100%;
  border: none;
  display: flex;
  align-items: center;
}

.navButton {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.testaTendina {
  height: 100%;
}

.tendina {
  display: none;
  position: absolute;
  background-color: rgb(87, 179, 236);
  z-index: 1;
}

.linkSocial {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.tendina a {
  color: black;
  font-size: 12px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

nav li div .bottone {
  font-weight: bold;
}

nav .bottone {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#sonoQui {
  background-color: transparent;
  color: black;
  padding: 16px;
  font-size: 18px;
  min-width: 200px;
  border-bottom: 5px solid black;
}

/*-------------------- Eventi --------------------*/
.testaTendina:hover .tendina {
  display: flex;
  justify-content: center;
}

nav div:hover {
  background-color: rgb(16, 138, 214);
}

nav div:hover div {
  background-color: rgb(16, 138, 214);
}

nav div a:hover {
  background-color: rgb(8, 106, 162);
}
