/*-------------------- Tag --------------------*/

header {
  background: transparent;
  font-size: 16px;
  color: black;
  display: inline;
  padding: 10px;
}

body {
  padding: 0;
  width: 100%;
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 800px;
  background-color: rgb(37, 123, 177);
}

nav {
  height: 60px;
  background-color: lightblue;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

li {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  height: 100%;
}

section {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: black;
}

footer a {
  padding-left: 1%;
  padding-right: 1%;
  height: 60%;
}

/*-------------------- Classi e ID --------------------*/
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.boxLogo {
  display: inline;
  justify-content: center;
  width: 100px;
}

nav a {
  color: black;
  text-decoration: none;
}

.bottone {
  background-color: transparent;
  color: black;
  font-size: 14px;
  height: 100%;
  border: none;
  display: flex;
  align-items: center;
}

.navButton {
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  display: flex;
  justify-content: center;

}

.dario {
  display: block;
  margin-right: auto;
  width: 500px;
  height: 100px;
  padding-left: 10px;
  padding-top: 10px;
}

#sfondo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

nav div a {
  color: black;
  text-decoration: none;
}

.testaTendina {
  height: 100%;

}

.imageStyle {
  border-radius: 15px;
}

.tendina {
  display: none;
  position: absolute;
  background-color: rgb(87, 179, 236);
}

.tendina a {
  color: black;
  font-size: 12px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

nav li div .bottone {
  font-weight: bold;
}

nav .bottone {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.link {
  color: blue;
}

.paragrafoBase {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.contenitorePiattaforme {
  width: 1000px;
  height: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
}

.contenutoPiattaforme1 {
  width: 1000px;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.contenutoPiattaforme2 {
  width: 1000px;
  height: 600px;
  background-color: transparent;
  text-align: center;
}

.contenutoPiattaforme3 {
  width: 1000px;
  height: 800px;
  background-color: transparent;
  text-align: center;
}

.contenutoPiattaforme4 {
  width: 1000px;
  height: 300px;
  background-color: transparent;
  text-align: center;
}

.videoyoutube {
  width: 500px;
  height: 300px;
}

.mocciaInstagram {
  width: 520px;
  height: 500px;
}

.telegram {
  width: 80px;
  height: 80px;
}

.contenitoreEventi {
  width: 1000px;
  height: 1900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
}

.contenutoEventi1 {
  width: 1000px;
  height: 50px;
  background-color: transparent;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}

.contenutoEventi2 {
  width: 1000px;
  height: 700px;
  background-color: transparent;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
}

.contenutoEventi3 {
  width: 1000px;
  height: 600px;
  background-color: transparent;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
}

.contenutoEventi4 {
  width: 1000px;
  height: 500px;
  background-color: transparent;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
}

#tomodachiTour {
  width: 700px;
  height: 400px;
}

#SiVola {
  width: 140px;
  height: 80px;
}

.linkSocial {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

nav li div .bottone {
  font-weight: bold;
}

nav li .bottone {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#sonoQui {
  background-color: transparent;
  color: black;
  padding: 16px;
  font-size: 18px;
  min-width: 200px;
  border-bottom: 5px solid black;
}

/*-------------------- Eventi --------------------*/
.testaTendina:hover .tendina {
  display: block;
  width: 20%;
}

nav div:hover {
  background-color: rgb(16, 138, 214);
}

nav div:hover div {
  background-color: rgb(16, 138, 214);
}

nav div div a:hover {
  background-color: rgb(8, 106, 162);
}
